.num,
.note {
    font-family: GT-Super-Display-Super, Rockwell, serif;
    font-weight: 700;
    font-size: 4em;
    color: var(--shadow-color);
    text-shadow: 1px 1px 0 var(--primary-color), 6px 4px 0 var(--highlight-color);
    float: left;
    line-height: .6em;
    padding: 0 8px 2px 3px;
}

.note {
    font-size: 2em;
}

.instStep {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.instImg {
    max-height: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

div.instImg {
    height: min-content;
}

.instImg img,
.icon img {
    height: 100%;
    max-width: 100%;
}

.instImg img[src$=".svg"] {
    background-color: var(--highlight-color)
}

.icon img {
    border: unset;
    box-shadow: unset;
    stroke-width: 20px;

}

:host {
    display: block;
    flex-wrap: wrap;
}

.instStep p {
    max-width: 450px;
    width: auto;
    margin-right: auto;
}

#styled-head {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

@media(max-width: $mobileBreakpoint) {
    #styled-head {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }

    #styled-head h1, h3.tape-title {
        width: 100%;
    }
}

#styled-head h2 {
    max-width: 300px;
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
    font-family: JosefinSans, Tahoma, Verdana, Segoe, sans-serif;
}

#styled-head h1 {
    margin-top: 0;
    max-height: 1.8em;
}

.split-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 50px;
}

@media(max-width: $mobileBreakpoint) {
    .split-2 {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        column-gap: unset;
        row-gap: 50px;
    }
}


.split-2>div {
    max-width: 350px;
    display: grid;
    grid-template-rows: 1fr 140px 1fr;
    align-content: center;
    text-align: center;
    row-gap: 20px;
}

/* stylelint-disable */
.split-2>div a {
    margin: 0 auto;
}

.split-2 a, #resources article a {
    max-height: 1.8em;
}
/* stylelint-enable */

.split-2>div:nth-of-type(1) {
    justify-self: end;
}

.split-2>div:nth-of-type(2) {
    justify-self: start;
}

.split-2 h3 {
    font-size: 18px;
}

.split-2 em {
    color: var(--accent-color);
}

#resources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}

@media(max-width: $mobileBreakpoint) {
    #resources {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: unset;
        row-gap: 5%;
    }

}

#resources article {
    display: grid;
    grid-template-rows: auto 1fr;
}

#resources article a{
    place-self: end center;
}