body,
html {
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--primary-color);
    font-family:  'Courier New', Courier, monospace;
    font-family: 'JosefinSans', Tahoma, Verdana, Segoe, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

 html {
    --primary-color: hsla(var(--primary-color-hue, 50), var(--primary-color-saturation, 100%), var(--primary-color-luminance, 50%), var(--primary-color-alpha, 1));
    --logo-secondary-fill: var(--primary-color);
    --highlight-color: rgb(239,229,169, var(--highlight-color-alpha, 1));
    --shadow-color-alpha: 1;
    --shadow-color: rgba(40, 40, 40, var(--shadow-color-alpha));
    --link-color: var(--shadow-color);
    --sf-logo-size: 111px;
}

@font-face {
    font-family: 'GT-Super-Display-Super';
    src: url('/src/fonts/GT-Super-Display-Super.woff2') format('woff2'),
        url('/src/fonts/GT-Super-Display-Super.woff') format('woff'),
        url('/src/fonts/GT-Super-Display-Super.ttf') format('truetype');
font-display: swap;
}
@font-face {
font-family: 'JosefinSans';
    src: url('/src/fonts/JosefinSans-Regular.woff') format('woff'),
        url('/src/fonts/JosefinSans-Regular.ttf') format('truetype');
font-display: swap;
font-weight: normal;
}

@font-face {
font-family: 'JosefinSans';
    src: url('/src/fonts/JosefinSans-Bold.woff') format('woff'),
        url('/src/fonts/JosefinSans-Bold.ttf') format('truetype');
font-display: swap;
font-weight: bold;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'GT-Super-Display-Super', Rockwell, serif;
}

* {
    box-sizing: border-box;
}

p {
    margin-bottom: 1.8em;
}

[hidden] {
    display: none;
}

app-index > svg {
    margin: 0 auto;
}