.split-tape-title span {
    display: block;
    color: var(--primary-color);
    transform: rotate(-4deg);
    font-size: 36px;
    padding: .4rem .8rem;
    display: block;
    width: min-content;
    margin-bottom: .2rem;
    position: relative;
    filter: var(--drop-shadow);
}

.split-tape-title span:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skew(-10deg, 0deg)
}

.tape-title {
    text-align: center;
    justify-self: center;
    display: flex;
    transform: rotate(-1deg) translateY(15px);
    font-size: 36px;
    padding: .4rem .8rem;
    display: block;
    width: max-content;
    margin-bottom: .2rem;
    position: relative;
    filter: var(--drop-shadow);
    color: var(--primary-color);
}

.tape-title:before {
    content: '';
    display: inline-block;
    width: calc(100% - 5px);
    height: 100%;
    background-color: var(--shadow-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(2.5px) skew(-10deg, 0deg)
}

@media(max-width: $mobileBreakpoint) {
    .tape-title:before {
        width: calc(100% - 10px);
    }
}

.tape-title+p {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.split23 {
    display: grid;
    width: 100%;
    column-gap: 1rem;
    grid-template-columns: 1fr 3fr;
}

@media(max-width: $mobileBreakpoint) {
    .split23 {
        column-gap: 0;
        row-gap: 1rem;
        grid-template-rows: 180px 1fr;
        grid-template-columns: 1fr;
    }
}

.split23 div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-self: flex-end;
    /* justify-content: center; */
}

.split23 h1, .split23 p {
    margin: 0;
    /* margin-left: auto; */
}

@media (max-width: $mobileBreakpoint) {
    .split23 h1 {
        margin: 0 auto;
    }

    .split23 div {
        align-content: start;
    }
}

.split23 p {
    /* width: 80%; */
}

.split23 h1 {
    margin-bottom: 1rem;
}

.models {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    position: relative;
}

@media(max-width: $mobileBreakpoint) {
    .models {
        grid-column-gap: 0;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.model-wrap {
    border-radius: 40px 40px 0 0;
    border: 7px solid var(--highlight-color);
    min-height: 325px;
    overflow: hidden;
    background-color: var(--shadow-color);
    display: flex;
    flex-wrap: wrap;

}

.model-wrap video {
    border: 0;
    border-radius: 0;
    display: flex;

    /* width: 400px; */
}

.mixMatch {
    display: grid;
    grid-template-rows: 1fr 38px 1fr;
    width: 127px;
    height: 139px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    place-items: center;
    place-content: center;
    font-family: 'GT-Super-Display-Super';
}

@media(max-width: $mobileBreakpoint) {
    .mixMatch {
        top: 36%;
        left: calc(100% - 70px);
    }
}

.mixMatch div {
    display: flex;
    font-size: 18px;
    color: var(--highlight-color);
}

.mixMatch div:nth-of-type(1) {
    align-self: end;
}

.mixMatch div:nth-of-type(3) {
    align-self: start;
}

.mixMatch div:nth-of-type(2) {
    font-size: 44px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--highlight-color);
}

.model-wrap header {
    background-color: var(--highlight-color);
    line-height: 40px;
    font-size: 24px;
    letter-spacing: 5%;
    text-align: center;
    padding: 25px;
    display: flex;
}

.colors-section {
    text-align: center;
    justify-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
    margin-top: 6rem;
    position: relative;
    filter: var(--drop-shadow);
}

@media(max-width: $mobileBreakpoint) {
    .colors-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.colors-title {
    display: flex;
    flex-wrap: wrap;
    color: var(--highlight-color);
    text-align: center;
    position: relative;
    height: 190px;
}

.colors-title h2 {
    font-size: 40px;
    margin: auto auto 4.5rem auto;
}

.colors-section .number {
    display: flex;
    color: var(--primary-color);
    font-size: 96px;
    text-align: center;
    justify-self: center;
    text-shadow: 3px 4px 2px rgba(239, 229, 169, 0.25);
    position: absolute;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'GT-Super-Display-Super';
}

.colors-section:after {
    content: '';
    display: inline-block;
    width: calc(100% - 50px);
    height: 100%;
    background-color: var(--shadow-color);
    position: absolute;
    top: 0;
    left: 14px;
    z-index: -1;
    transform: translateX(2.5px) skew(-10deg, 0deg)
}

@media (max-width: $mobileBreakpoint) {
    .colors-section:after {
        left: 17px;
        transform: translateX(2.5px) skew(-8deg, 0deg);
        width: calc(100% - 50px);

        left: -13px;
        transform: translateX(2.5px) skew(-8deg, 0deg);
        width: calc(100% - 10px);
        height: 92%;
        top: 31px;
    }

    .colors {
        left: -3px;
    }
}


.colors {
    width: 400px;
    height: 280px;
    /* overflow: hidden; */
    position: relative;
}

.colors cl-bl {
    position: absolute;
    --color-spacing: 10px;
    filter: drop-shadow(3px 4px 2px rgba(239, 219, 169, 0.25));
}

.colors cl-bl:nth-of-type(1) {
    top: -1.6rem;
    transform: translateX(calc(50% + (var(--color-spacing))))
}

.colors cl-bl:nth-of-type(2) {
    top: -1.6rem;
    transform: translateX(calc(150% + (var(--color-spacing) * 2)))
}

.colors cl-bl:nth-of-type(3) {
    top: calc(var(--clbl-size) - 3rem);
    transform: translateX(10px)
}

.colors cl-bl:nth-of-type(4) {
    top: calc(var(--clbl-size) - 3rem);
    transform: translateX(calc(100% + (17px)))
}

.colors cl-bl:nth-of-type(5) {
    top: calc(var(--clbl-size) - 3rem);
    transform: translateX(calc(200% + (var(--color-spacing) * 2)))
}

.colors cl-bl:nth-of-type(6) {
    top: calc((var(--clbl-size) * 2) - 4rem);
    transform: translateX(calc(50% + (var(--color-spacing))))
}

.colors cl-bl:nth-of-type(7) {
    top: calc((var(--clbl-size) * 2) - 4rem);
    transform: translateX(calc(150% + (var(--color-spacing) * 2)))
}


sf-model {
    margin: 0 auto;
}

h2 {
    margin: 0;
}

video {
    width: 100%;
    border-radius: 40px;
    border: 7px solid var(--highlight-color);
}