:host {
    border-radius: 207px;
    border: 7px solid var(--highlight-color);
    width: 100%;
    height: 360px;
    overflow: hidden;
    display: flex;
    position: relative;
}

@media(max-width: $mobileBreakpoint) {
    :host {
        border-radius: 150px;
    }
}

::slotted(img) {
    display: flex;
    min-width: 100%;
    position: relative;
}